* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  height: 60px;
  background-color: #353535;
  line-height: 60px;
}

.navbar .INO {
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.banner {
  width: 100%;
  height: 350px;
  background-image: url("../images/main_img.jpg");
  background-size: cover;
  background-position: center center;
}
.info {
  height: 320px;
  background-color: white;

}
.info .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;

  
}
.info .info-container {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: middle;
}


.info h1 {
  font-size: 16px;
  color: #4A4A4A;
  margin-top: 0px;
}
.info h2 {
  font-size: 20px;
  color: #1B1B1B;
  margin-top: 10px;
  margin-bottom: 30px;
}
.info p {
  font-size: 16px;
  color: #7A7A7A;
  margin: 0;
  
}

.img1 {
  height: 385px;
  background-image: url("../images/img1.jpg");
  background-size: cover;
  background-position: center top;
}

.img2 {
  height: 200px;
  background-image: url("../images/img2.jpg");
  background-size: cover;
  background-position: center top;
  text-align: center;
}
.img2 .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  
  
}


.img2 .view {
  color: white;
  border: 4px solid white;
  padding:9px 40px;
  text-decoration: none;
  vertical-align: middle;
}
.img3 {
  height: 200px;
  background-image: url("../images/img3.jpg");
  background-size: cover;
  background-position: center top;
}

@media (min-width: 768px){
  
  .col {
    float: left;
  }
  
  .navbar {
    width: 100%;
    height: 60px;

  }
  .banner {
    height: 562px;
    width: 100%;

  }
  
 .info {
    
    height: 282px;
    width: 100%;

  }

  .img1 {
    height: 360px;
    width: 50%;

  }
  .img2 {
    height: 180px;
    width: 50%;

  }
  
  .img3 {
    height: 180px;
    width: 50%;

  }
  
  
}

@media (min-width: 992px){
  
  .col {
    float: left;
  }
  
  .navbar  {
    height: 60px;
    width: 100%;

  }
  .banner {
    height: 700px;
    width: 50%;

  }
  .info {
    height: 350px;
    width: 50%;
  }
  .img1 {
    height: 350px;
    width: 25%;
  }
  .img2 {
    height: 175px;
    width: 25%;
  }
  .img3 {
    height: 175px;
    width: 25%;
  }
}